html {
  font-size: 1em;
}

body {
  margin: 0;
  font-family: 'Optima', sans-serif;
  background-color: whitesmoke;
}

.menu {
  background-color: #3f635d;
  color: white;
  padding: 1.25em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  margin-top: 1.25em;
}

nav a {
  text-decoration: none;
  padding: 0.625em 1.25em;
  background-color:  #3f635d;;
  color: white;
  border-radius: 0.25em;
  font-size: 1em;
  transition: background-color 0.5s ease;
}

nav a:hover {
  text-decoration: none;
  background-color:  #2f4945;
}


.map-table {
  border-collapse: collapse;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.map-table td {
  padding: 0em;
  margin: 0em;
}

.map-table img {
  width: 100%;
  height: auto;
  display: block;
}

input {
    border:none;
    appearance: none;
    background-color: white;
    padding: 0.75em;
    border-radius: 0.1875em;
    width: 15.625em;
    outline: none;
    box-shadow: 0 0.125em 0.375em 0 rgba(0, 0, 0, 0.558);
} 

input:focus::placeholder {
    color:transparent;
}

input::placeholder {
    color: #aaa;
    transition: color 0.4s ease;
    
}

/*Hover на дните*/
.flatpickr-day:hover {
    background-color: #7a8d8a !important;
    transition: 1s;
    color:whitesmoke !important;
}

.flatpickr-day.selected {
    background-color: #7a8d8a !important;
    border: #2e4742;
    color:whitesmoke !important;
}


/*Стрелките за преместване на минал или на следващ месец*/
.flatpickr-prev-month svg,
.flatpickr-next-month svg {
fill: #3f635d !important;
}
.flatpickr-day.selected {
    background-color: #7a8d8a !important;
    border: #2e4742 !important;
    color:whitesmoke !important;
}

.flatpickr-monthDropdown-months {
    box-shadow: none;
}

.flatpickr-monthDropdown-month {
    background-color: white !important;
}

.flatpickr-current-month input.cur-year {
    box-shadow: none;
}
 

select {
    border:none;
    background-color: white;
    padding: 0.75em;
    border-radius: 0.1875em;
    width: 15.625em;
    outline: none;
    box-shadow: 0 0.125em 0.375em 0 rgba(0, 0, 0, 0.558);
    margin: 10 0 10 0;
}

.select-selected.select-arrow-active {
    background-color: #2e4742;
}

option {
    background-color: white;
    max-width: fit-content ;
    padding: 10;
    width: 15.625em;
}

button {
    background-color: #3f635d;
    color:whitesmoke;
    border: none;
    padding: 0.3125em;

}

button:hover {
    background-color: #2e4742;
}

main {
  min-height: fit-content;
  margin-bottom: -15em;
}

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: flex-end;
  margin: 0 auto;
  background-color: rgb(221, 220, 220);
}

#footer-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  background-color: rgb(221, 220, 220);
}

.link-group {
  color:black;
  display: flex;
  flex-direction: column;
  margin: 0.5em 3em 0.5em 3em;
}

a {
  color:black;
  text-decoration: none;
  font-weight: lighter;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: #3f635d;
  text-decoration-thickness: 0.13em;
}


.main-link {
  font-size: large;
}

#social-media {
  background-color:#3f635d !important; 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: flex-end;
  width: 100%;
  padding: 1em;
  gap:4em;
}

#contacts {
  align-items:flex-start;
  justify-content: center;
  
}

.link-group p,
.link-group a {
  margin: 0.1em 0 0 0;
}