html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: 'Optima', sans-serif;
  background-color: whitesmoke;
}

.menu {
  background-color: #3f635d;
  color: white;
  padding: 1.25em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  margin-top: 1.25em;
}

nav a {
  text-decoration: none;
    padding: 0.75em 1.5em;
    background-color: #3f635d;
    color: white;
    border-radius: 0.25em;
    font-size: 1.2em;
    font-weight: bold;
    transition: background-color 0.5s ease;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5em;
}

nav a:hover, .dropbtn:hover {
  text-decoration: none;
  background-color: #2f4945;
}

.dropbtn {
    text-decoration: none;
    padding: 0.75em 1.5em;
    background-color: #3f635d;
    color: white;
    border-radius: 0.25em;
    font-size: 1.2em;
    font-weight: bold;
    transition: background-color 0.5s ease;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.arrow {
    transition: transform 0.3s ease;
    display: inline-block;
}

.dropdown:hover .arrow {
    transform: rotate(90deg); /* Rotates down */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #3f635d;
    min-width: 12.5em;
    box-shadow: 0px 0.5em 1em rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 0.25em;
}

.dropdown-content a {
    color: white;
    padding: 0.75em 1em;
    text-decoration: none;
    display: block;
    text-align: left; 
    padding: 0.75em 1em;
}

.dropdown-content a:hover {
    background-color: #2f4945;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.map-table {
  border-collapse: collapse;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.map-table td {
  padding: 0em;
  margin: 0em;
}

.map-table img {
  width: 100%;
  height: auto;
  display: block;
}

input {
    border:none;
    appearance: none;
    background-color: white;
    padding: 12px;
    border-radius: 3px;
    width: 250px;
    outline: none;
    box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.558);
} 

input:focus::placeholder {
    color:transparent;
}

input::placeholder {
    color: #aaa;
    transition: color 0.4s ease;
    
}

/*Hover на дните*/
.flatpickr-day:hover {
    background-color: #7a8d8a !important;
    transition: 1s;
    color:whitesmoke !important;
}

.flatpickr-day.selected {
    background-color: #7a8d8a !important;
    border: #2e4742;
    color:whitesmoke !important;
}


/*Стрелките за преместване на минал или на следващ месец*/
.flatpickr-prev-month svg,
.flatpickr-next-month svg {
fill: #3f635d !important;
}
.flatpickr-day.selected {
    background-color: #7a8d8a !important;
    border: #2e4742 !important;
    color:whitesmoke !important;
}

.flatpickr-monthDropdown-months {
    box-shadow: none;
}

.flatpickr-monthDropdown-month {
    background-color: white !important;
}

.flatpickr-current-month input.cur-year {
    box-shadow: none;
}
 

select {
    border:none;
    background-color: white;
    padding: 12px;
    border-radius: 3px;
    width: 250px;
    outline: none;
    box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.558);
    margin: 10px 0 10px 0;
}

.select-selected.select-arrow-active {
    background-color: #2e4742;
}

option {
    background-color: white;
    max-width: fit-content ;
    padding: 10px;
    width: 250px;
}

button {
    background-color: #3f635d;
    color:whitesmoke;
    border: none;
    padding: 5px;

}

button:hover {
    background-color: #2e4742;
}

footer {
  background-color: rgb(230, 229, 229);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: flex-end;
  margin: 0 auto;
}

#footer-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

.link-group {
  color:black;
  display: flex;
  flex-direction: column;
  margin: 0.5em 3em 0.5em 3em;
}

a {
  color:black;
  text-decoration: none;
  font-weight: lighter;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: #3f635d;
  text-decoration-thickness: 0.13em;
}


.main-link {
  font-size: large;
}

#social-media {
  background-color:#3f635d !important; 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: flex-end;
  width: 100%;
  padding: 1em;
  gap:4em;
}

#contacts {
  align-items:flex-start;
  justify-content: center;
  
}

.link-group p,
.link-group a {
  margin: 0.1em 0 0 0;
}