html {
  font-size: 16px;
}

body { margin: 0; font-family: 'Optima', sans-serif; background-color: whitesmoke; }

.menu {
  background-color: #3f635d;
  color: white;
  padding: 1.25em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  margin-top: 1.25em;
}

nav a {
  text-decoration: none;
  padding: 0.625em 1.25em;
  background-color:  #3f635d;;
  color: white;
  border-radius: 0.25em;
  font-size: 1em;
  transition: background-color 0.5s ease;
}

nav a:hover {
  background-color:  #2f4945;
}

  .trip-container {
    max-width: 70%;
    margin: 2em auto;
    padding: 1.5em;
    background-color: white;
    box-shadow: 0 0.625em 1.25em rgba(0, 0, 0, 0.1);
    border-radius: 0.5em;
  }
  
  .trip-info {
    margin-top: 1.5em;
    padding: 1em;
    background-color: rgba(240, 240, 240, 0.8);
    border-left: 0.5em solid #3f635d;
    border-radius: 0.5em;
  }
  

  .trip-image {
    height: 22em;
    width: auto;
    border-radius: 0.5em;
    box-shadow: 0 0.3125em 0.625em rgba(0, 0, 0, 0.1);
  }

  .trip-info h3, h4 {
    color: #3f635d;
  }
  
  .trip-info p {
    font-size: 1em;
    color: #333;
  }
  
  