.tabs {
    display: flex;
    flex-wrap: wrap;
    max-width: 200em;
    margin: 3em auto;
    padding: 1em;
}

.tabs input[type="radio"]{
    display: none;
}

.tabs label {
    padding: 1.5em;
    background: #fff;
    font-weight: bold;
}

.tabs .tab {
    width: 100%;
    padding: 1em;
    background: #e2e2e2;
    order: 1;
    display: none;
}

.tabs input[type='radio']:checked + label + .tab {
    display: block;
}

.tabs input[type="radio"]:checked + label {
    background: #e2e2e2;
}

