#planning {
    display: flex;

}
.enter-date {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap:10%;
}

#start-date {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    gap:8.5%;
    margin:4px;
} 

#end-date {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    gap:8.5%;
    margin:4px;
}

.day {
    display: none;
}

.enter-region {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    margin: 4px;
}

#region {
    display: flex;
    margin: 4px 4px 4px 0;
}

#add-button1 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 5px !important;
}

#add-button2{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 5px;
}

#add-button3{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 5px;
}

#add-button4{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 5px;
}

#add-button5{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 5px;
}

#add-button6{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 5px;
}

#add-button7{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 5px;
}

#add-button8{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 5px;
}

#add-button9{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 5px;
}

#add-button10{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 5px;
}

#remove-button1 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 5px !important;
}

#remove-button2{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 5px;
}

#remove-button3{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 5px;
}

#remove-button4{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 5px;
}

#remove-button5{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 5px;
}

#remove-button6{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 5px;
}

#remove-button7{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 5px;
}

#remove-button8{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 5px;
}

#remove-button9{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 5px;
}

#remove-button10{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 5px;
}
