#planning {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 70%;
    margin: 2em auto;
    padding: 1.5em;
    background-color: white;
    box-shadow: 0 0.625em 1.25em rgba(0, 0, 0, 0.1);
    border-radius: 0.5em;
}

.enter-date {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap:10%;
}

#start-date {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    gap:8.5%;
    margin:0.25em;
} 

#end-date {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    gap:8.5%;
    margin:0.25em;
}

.day {
    display: none;
}

.enter-region {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    margin: 0.25em auto;
}

#submit-button {
    padding: 0.70em;
    border-radius: 10%;
}

.planning-trip {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    margin: 0.25em auto;
}

#region {
    display: flex;
    margin: 0.25em 0.25em 0.25em 0;
}

#add-button1 {
    width:  2em;
    height:  2em;
    border-radius: 50%;
    margin: 0.4em !important;
}

#add-button2{
    width:  2em;
    height:  2em;
    border-radius: 50%;
    margin: 0.4em;
}

#add-button3{
    width:  2em;
    height:  2em;
    border-radius: 50%;
    margin: 0.4em;
}

#add-button4{
    width:  2em;
    height:  2em;
    border-radius: 50%;
    margin: 0.4em;
}

#add-button5{
    width:  2em;
    height:  2em;
    border-radius: 50%;
    margin: 0.4em;
}

#add-button6{
    width:  2em;
    height:  2em;
    border-radius: 50%;
    margin: 0.4em;
}

#add-button7{
    width:  2em;
    height:  2em;
    border-radius: 50%;
    margin: 0.4em;
}

#add-button8{
    width:  2em;
    height:  2em;
    border-radius: 50%;
    margin: 0.4em;
}

#add-button9{
    width:  2em;
    height:  2em;
    border-radius: 50%;
    margin: 0.4em;
}

#add-button10{
    width:  2em;
    height:  2em;
    border-radius: 50%;
    margin: 0.4em;
}

#remove-button1 {
    width:  2em;
    height:  2em;
    border-radius: 50%;
    margin: 0.4em !important;
}

#remove-button2{
    width:  2em;
    height:  2em;
    border-radius: 50%;
    margin: 0.4em;
}

#remove-button3{
    width:  2em;
    height:  2em;
    border-radius: 50%;
    margin: 0.4em;
}

#remove-button4{
    width:  2em;
    height:  2em;
    border-radius: 50%;
    margin: 0.4em;
}

#remove-button5{
    width:  2em;
    height:  2em;
    border-radius: 50%;
    margin: 0.4em;
}

#remove-button6{
    width:  2em;
    height:  2em;
    border-radius: 50%;
    margin: 0.4em;
}

#remove-button7{
    width:  2em;
    height:  2em;
    border-radius: 50%;
    margin: 0.4em;
}

#remove-button8{
    width:  2em;
    height:  2em;
    border-radius: 50%;
    margin: 0.4em;
}

#remove-button9{
    width:  2em;
    height:  2em;
    border-radius: 50%;
    margin: 0.4em;
}

#remove-button10{
    width:  2em;
    height:  2em;
    border-radius: 50%;
    margin: 0.4em;
}
